*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: #13063E;
}

.contenedor{
    width: 96%;
    max-width: 1000px;
    overflow: hidden;
    margin: 20px auto;
}

header{
    background: #fff;
}

header nav{
    width: 100%;
}

header nav a li{
    list-style: none;
    overflow: hidden;
    float: left;
}

header nav a{
    color: #13063E;
    display: inline-block;
    padding: 10px 0;
}

header nav a:hover{
    background: #13063E;
    color: #fff;
}

.main{
    width: 70%;
    float: left;
    background:#fff;
}

.main .imagen{
    width: 100%;
}

.main .imagen img{
    width: 100%;
    vertical-align: top;
}

.main .posts{
    font-size: 20px;
}

.main .posts article{

}

.main .posts article h2{
    margin: 20px 0;
}

.main .posts article p{
    margin-top: 20px;
    font-style: italic;
    line-height: 32px;
}

aside{
    width: 30%;
    float: left;
    background-color: darkslategrey;
    padding-bottom: 20%;
    overflow: hidden;
}

aside .widget{
    margin-bottom: 20px;
    margin-top: 50px;
}

aside .widget .titulo{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #000;
}

aside .widget ul{
    list-style: none;
    margin-top: 10px;
}

aside .widget ul a{
    text-decoration: none;
    color: #fff;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(20, 30, 187, 0.8);
}

aside .widget ul a:hover{
    color: #000;
}

aside .widget ul a li{
    border-bottom: 1px dotted rgba(20, 30, 187, 0.8);
    margin: 10px 0;
}

aside .widget p{
    line-height: 28px;
    margin-top: 30px;
}

footer{
    width: 70%;
    background-color: #000;
    padding-bottom: 30px;
    text-align: center;
}

footer p{
    color: #fff;
}